body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #f2f2f2;
  margin-left: 50px;
  font-family: 'Montserrat', sans-serif;
  background: radial-gradient(rgb(17, 10, 4), rgba(17, 10, 1, 0.5)),
  url(../img/cristiano-pinto-2lWGQ02DGL8-unsplash.jpg) no-repeat center; 
  background-size: cover;
}

.tasty{
  color: #fff;
  text-align: center;
}
.meals{
  color: #fff;
  text-align: center;
}

  

.welcome {
  color: #fff;
  text-align: center;
  font-size: 40px;
}

.menu-description {
  text-align: center;
  font-size: 35px;
  color:#fff;
}


/* styling the cards*/
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  text-align: center;
  display: inline-block;
  align-items: stretch;
  background-color: #fff;
  
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: green;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  background-color: black;
}

img {
  width: 200px; 
}

/* add style to the subscribe button */
#subscribe {
  background-color:green;
  border-radius: 10px;
  padding: 5px;
}

#subscribe:hover{
  opacity: 0.7;
}


/*media queries */
@media only screen and (max-width: 600px) {
  body {
    width: 100%;
  }
}

@media only screen and (min-width: 600px) {
  body {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  body {
    width: 100%;
  }
}